*.py[cod]
.gitignore~
.tox/
.cache/
.coverage*
!.coveragerc
/htmlcov/
*.py,cover
.idea/
.vscode/
.pytest_cache/
/coverage.xml
.eggs/
venv/

.zip
/builddocs/
/builddocs.zip
/build/
/dist/
forana-*.egg-info
db.sqlite3
test.db
test_test.db
*.cast
.ipynb_checkpoints/
.scannerwork/
*db.sqlite3*
.mypy_cache/
